<% @page_title = "Admin login"  %> 


<%= form_tag(:action => 'attempt_login') do %>

<form class="form-horizontal">
  <div class="control-group"> 
    <%= label_tag(:username) %>
    <div class="controls">
      <%= text_field_tag(:username) %>
    </div>
   </div>
  <div class="control-group"> 
    <%= label_tag(:password) %>
   <div class="controls">
      <%= password_field_tag(:password) %>
    </div>
   </div>
    <div class="control-group">
      <div class="controls">
       <%= submit_tag("Login In") %>
     </div>
    </div>
  <% end %> 
</form>
