<% @page_title = "Customers - Delete" %>
<div class="customer delete">
	<h2>Delete Customer</h2>

	<%= form_for(:customer, :url => {:action => 'destroy', :id => @customer.id}) do |f| %>

	<p>Are you sure you want to permanently delete this school?</p>
		<dl class="dl-horizontal">
			  <dt><p class="reference-name"><%= @customer.name %></p></dt>
			  <dd><%= @customer.email %></dd>
		</dl>
		<div class="form-actions">
  		<%= submit_tag ("Delete School"), :class => 'btn btn-danger' %>
  		<%= link_to("Cancel", {:action => 'index'}, :class => 'back-link')%>
    	</div>
	<% end %>
</div>
