<%= error_messages_for(@ticket) %> 
<div class="control-group">
  <%= f.label :product_id, :class => 'control-label' %>
  <div class="controls">
    <%=  f.autocomplete_field :product, autocomplete_product_name_tickets_path, :id_element => '#ticket_product_id' %>
  </div>
  <%= f.hidden_field :product_id %>
</div>
<div class="control-group">
  <%= f.label :customer_id, :class => 'control-label' %>
  <div class="controls">
    <%=  f.autocomplete_field :customer, autocomplete_customer_name_tickets_path, :id_element => '#ticket_customer_id'  %>
  </div>
  <%= f.hidden_field :customer_id %>
</div>
<div class="control-group">
  <%= f.label :status, :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:status, ["Open", "Closed", "Paused"], :include_blank => "Please select..." ) %>
  </div>
</div>
<div class="control-group">
  <%= f.label :admin_user_id, :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:admin_user_id, @admin_users.map {|s| [s.username, s.id]}, :include_blank => "Please select...")  %>
  </div>
</div>