<div class="control-group">
  <%= f.label :product_id, :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:product_id, @products.map {|p| [p.name, p.id]})  %>
  </div>
</div>
<div class="control-group">
  <%= f.label :status, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :status, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :customer_id, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :customer_id, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :admin_users_id, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :admin_users_id, :class => 'text_field' %>
  </div>
</div>