<% @page_title = "Tickets - Edit" %>
<%= link_to("Back to List", {:action => 'index'}, :class => 'back-link')%>

<div class="schools update">
  <h2>Update Ticket</h2>
   <%= form_for(@ticket) do |f| %>
  
        <%= render(:partial => "form", :locals => {:f => f}) %> 
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), :action => 'index', :class => 'btn btn-danger' %>
  </div>
<% end %>

</div>