<% @page_title = "Tickets - Show" %>
<%- model_class = Ticket -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.titleize %> #<%= @ticket.id %><div class ="pull-right"><%= status_button(@ticket.status) %></div> </h2>
</div> <!-- end of page header -->
<div class="row">
  <div class="span6">
    <h4>Customer details</h4>
    <dl>
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @ticket.customer.name if @ticket.customer %></dd>
      <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
      <dd><%= mail_to @ticket.customer.email, nil,  cc:    " ", subject: "Case number # #{@ticket.id}", body: "Hello" if @ticket.customer %></dd>
      <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
      <dd><%= @ticket.customer.phone if @ticket.customer%></dd>
    </dl>
  </div> <!-- end of span6 -->
  <div class='span6 pullright'>
    <h4>Product details</h4>
    <dl>
      <dt><strong><%= model_class.human_attribute_name(:product_id) %>:</strong></dt>
      <dd><%= @ticket.product.try(:name) %></dd>
      <dt><strong><%= model_class.human_attribute_name("Tier") %>:</strong></dt>
      <dd><%= @ticket.product.try(:tier) %></dd>
      <dt><strong><%= model_class.human_attribute_name("ISBN") %>:</strong></dt>
      <dd><%= @ticket.product.try(:isbn) %></dd>
      <dt><strong><%= model_class.human_attribute_name("Support Link") %>:</strong></dt>
      <dd><%= @ticket.product.try(:support_url) %></dd>
      <dt><strong><%= model_class.human_attribute_name(:admin_user_id) %>:</strong></dt>
      <dd><%= @ticket.admin_user.username if @ticket.admin_user %></dd>
    </dl>
  </div> <!-- end of span 6 -->
</div> <!-- end of row -->
<hr />
<h4>Q and A</h4>


<hr />
<h4>Comments - <%= pluralize(@ticket.notes.size, 'comment') %> found</h4>
<% @ticket.notes.each do |note| %>
  <blockquote>
    <p><%= note.comment %></p>
    <small><%= note.created_at %></small>
    <small><%= note.admin_user.username if note.admin_user %></small>
  </blockquote>
<% end %>

<div class="note comment">
  <%= form_for([@ticket, @ticket.notes.build], :html => {:class => 'form-inline'}) do |n| %>
      <%= render(:partial => "note", :locals => {:n => n}) %>  
    <%= n.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
  <div class ="identity">Posting as:<strong> <%=  session[:user_username]%></strong> </div>
</div>

