<% @page_title = "Tickets - Show" %>
<%- model_class = Ticket -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
  <dd><%= @ticket.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= status_tag(@ticket.status) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @ticket.customer.name if @ticket.customer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @ticket.customer.email if @ticket.customer%></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @ticket.customer.phone if @ticket.customer%></dd>
  <dt><strong><%= model_class.human_attribute_name(:school_id) %>:</strong></dt>
  <dd><%= @ticket.school.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_id) %>:</strong></dt>
  <dd><%= @ticket.product.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:admin_user_id) %>:</strong></dt>
  <dd><%= @ticket.admin_user.username if @ticket.admin_user %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), :class => 'btn', :action => 'index'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), :class => 'btn', :action => 'edit', :id => @ticket.id %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
