<% @page_title = "Edit Admin User: #{@admin_user.name}" %>
<%= link_to("Back to List", {:action => 'index'}, :class => 'back-link')%>

<div class="subjects update">
  <h2>Edit Admin User</h2>

  <%= form_for(:admin_user, :url => {:action => 'update', :id => @admin_user.id}) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %> 
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), :action => 'index', :class => 'btn btn-danger' %>
  </div>
<% end %>

</div>