<% @page_title = "Schools" %>
<%- model_class = School -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %><%= link_to("Add New School", new_school_path, :class => 'btn btn-inverse pull-right') %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:postcode) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.id %></td>
        <td><%= school.name %></td>
        <td><%= school.postcode %></td>
        <td><%= school.phone %></td>
        <td><%=l school.created_at %></td>
        <td>
          <%= link_to("Show", school_path(school.id), :class => 'btn btn-mini') %>
          <%= link_to("Edit", edit_school_path(school.id) , :class => 'btn btn-mini') %>
          <%= link_to("Delete", delete_school_path(school.id) , :class => 'btn btn-mini btn-danger') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>