<% @page_title = "Frameworks - New" %>
<%= link_to("Back to List", {:action => 'index'}, :class => 'back-link')%>

<div class="school new">
  <h2>Create Frameworks</h2>

  <%= form_for(:framework, :url => {:action => 'create'}) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %> 

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), :action => 'index', :class => 'btn btn-danger' %>
  </div>
<% end %>

</div>