<% @page_title = "Products" %>
<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %><%= link_to("Add New Product", new_product_path, :class => 'btn btn-inverse pull-right') %></h1>
</div>
<div><%= pluralize(@products.size, 'product') %> found</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:tier) %></th>
      <th><%= model_class.human_attribute_name(:isbn) %></th>
      <th><%= model_class.human_attribute_name(:support_url) %></th>
      <th><%= model_class.human_attribute_name("framwork") %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.tier %></td>
        <td><%= product.isbn %></td>
        <td><%= product.support_url %></td>
        <td><%= product.framework.id if product.framework %></td>
        <td><%=l product.created_at %></td>
        <td>
          <%= link_to("Show", product_path(product.id), :class => 'btn btn-mini') %>
          <%= link_to("Edit", edit_product_path(product.id), :class => 'btn btn-mini') %>
          <%= link_to("Delete", delete_product_path(product.id), :class => 'btn btn-mini btn-danger') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>